<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Add your Favorite Animals!</h1>
        <form action="/animals" method="POST">
            name: <input type="text" name="name" /><br/><br/>
            species: <input type="text" name="species" /><br/><br/>
            img: <input type="text" name="img" /><br/><br/>
            description: <input type="text" name="description" /><br/><br/>
            <input type="submit" value="Add Character"/>
        </form>
        <form action="/animals" method="GET">
        <button type="submit" href="/" > Animal Planet</button>
        </form>
  </body>
</html>
